*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none ;
    border: none;
    text-decoration: none;
    background: #b26a9f;
}

#logo_navbar{
height: 100px;
width: auto;
border-radius: 50px;
margin-top: 10px;
}

h3{
    color: #381d2c;
    background: #e71efd9e;
    text-align: center;
}

.navbar{
    background-color: #e71efd9e;
}