* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    background: #f1b1e1;
    scroll-behavior: smooth;
}

body {
    padding-bottom: 25%;
}

.navbar {
    background-color: #E007C3;
    display: flex;
    align-items: center;
    border-color: #472D44;
    border-style: solid;
    border-bottom: none;
}

#logo_navbar {
    height: 100px;
    width: auto;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 450px;
    /* Espaçamento entre a logo e o texto */
    border-color: #472D44;
    border-style: solid;
}

h1,
h2 {
    background-color: #332A32;
    color: #fff;
}

#main-content-header {
    border: #000;
    border-style: solid;
    border-top: none;
}

h3 {
    color: #332A32;
    background: #E007C3;
    margin: 0;
}

.reserve {
    background-color: #fff;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
    width: 120px;
}

.first-section {
    text-align: center;
    background: #000;
}

.second-section {
    text-align: center;
    margin-top: 250px;
    border: #000000;
    border-style: solid;
    background-color: #AD289C;
    color: #351231;
    padding-bottom: 200px;
}

#second-section-text {
    background-color: inherit;
    margin-top: 15px ;
}

#second-section-header {
    background-color: inherit;
    border: #000;
    border-style: solid;
    border-top: none;
}

.main-content {
    background-color: #AD289C;
    padding-bottom: 250px;
    margin-top: 350px;
    border: #000000;
    border-style: solid;
}

.menu-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    background-color: #E007C3;
    border-color: #472D44;
    border-style: solid;
    border-top: none;
}

.menu-btn li {
    margin-right: 10px;
    /* Espaçamento entre os itens */
    background-color: #E007C3;
}

.menu-btn li:last-child {
    margin-right: 0;
    /* Remove o espaçamento do último item */
    background-color: #E007C3;
}

a {
    background-color: #E007C3;
}

.bi.bi-instagram {
    background-color: #E007C3;
}

.bi.bi-whatsapp {
    background-color: #E007C3;
}

.bi.bi-bag-dash {
    background-color: #E007C3;
}