<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../js/script.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="icon" href="../assets/clipboard2-fill.svg">
    <title>Landing Page</title>
</head>

<body>
    <header>
        <div class="logo">
            <div id="home" class="navbar">
                <img id="logo_navbar" src="../assets/croche_logo.jpg" alt="logo img">
                <h3>Whis Artesanato</h3>
            </div>
            <nav>
                <ul class="menu-btn">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#first-section">Itens</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Contatos</a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                    <li><a href="#"><i class="bi bi-bag-dash"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="first-section" class="first-section">
        <div class="main-content">
            <h1>Dê uma olhada em nossos itens artesanais</h1>
            <h2>Tudo feito com o maior carinho</h2>
            <button class="reserve">Reserve o seu produto!</button>
        </div>
    </section>

</body>

</html>